/TheProject/Saved
/TheProject/Intermediate
/TheProject/DerivedDataCache
/TheProject/Content/Characters
Platforms
/TheProject/Content/AnimStarterPack
/TheProject/Build





# Hero character hecker's 


# hecker end 